@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }

    .cabecalho .menu-cabecalho{
        display: flex;
        gap: 10px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }

    .cabecalho .menu-cabecalho{
        display: flex;
        gap: 10px;
    }
}

@media only screen and (max-width: 900px) {

    .cabecalho {
        padding: 0 30px;
    }

    .cabecalho .menu-cabecalho{
        display: none;
        gap: 10px;
    }

    .hamburguer {
        display: block;
        cursor: pointer;
    }

    .hamburguer .line {
        background-color: #fff;

        width: 30px;
        height: 3px;
        margin: 6px 0;
        border-radius: 100px;
    }

    .menu {
        background-color: rgb(12, 25, 102);
        position: absolute;

        height: 0;
        top: 80px;
        left: 0;
        right: 0;

        width: 100vw;
        transition: 0.6s all;
    }

    .menu.active-nav {
        height: 100vh;
    }    

    .menu.inactive-nav {
        height: 0;
        width: 100vw;

        position: absolute;
        top: 80px;
        left: 0;
        right: 0;

        background-color: #0c1966;
        transition: 0.6s all;
    }

    .menu-cabecalho.active-ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: 100%;
        opacity: 1;

        margin: 0 auto 0 auto;
        transition: 0.9s all;
    } 

    .menu-cabecalho.inactive-ul{
        display: none;

        width: fit-content;
        height: 0;
        opacity: 0;

        margin: 0 auto 0 auto;
        transition: 0.9s all;
    }

    .menu ul li a {
        margin-bottom: 30px;
    }

}