html {
    scroll-behavior: smooth;
}

body {
    outline: none;
    user-select: none;
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 100vh;
    font-family: Acme, 'Times New Roman', Times, serif, sans-serif, 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    background: url(../img/fundo.jpeg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */

.hamburguer {
    display: none;
}

.cabecalho {
    background: #040B2F;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 12px 55px;
    box-shadow: 0px 6px 30px #161616;
}

/* Div com Icone e Texto da Igreja */
.cabecalho .logo-cabecalho {
    width: 230px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Icone da Igreja */
.logo-icon {
    width: 60px;
    transition: all 0.4s;
}

.logo-icon:hover {
    transform: scale(1.2);
}

/* Titulo nome da igreja */
.cabecalho .title-cabecalho a {
    color: #E4E3E3;
    text-align: center;
    font-family: Acme, 'Times New Roman', Times, serif, sans-serif, 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s;
}

/* Efeito do botão home (nome da igreja) */
.cabecalho .title-cabecalho a:hover {
    color: #112CB7;
}

/* Menu de navegação*/
.cabecalho .menu-cabecalho {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

/* Links de navegação no menu */
.menu-cabecalho li a {
    text-decoration: none;
    color: #E4E3E3;
    text-transform: uppercase;
    transition: all 0.4s;
    cursor: pointer;
}

/* Efeito dos links */
.menu-cabecalho li a:hover {
    color: #112CB7;
}

/* Todos os sections terão a mesma configuração */
section {
    background-color: #c7c7c771;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

section:target {
    scroll-margin-top: 7.5em;
}

/* Última section não necessita de margem */
.visite-content {
    margin-bottom: 0;
}

/* Todos os titulos terão a mesma configuração */

.title-commum {
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    text-transform: uppercase;
    color: #112CB7;
    text-shadow: 0px 0px 2px #000;
}

/* Bordas de cada titulo das seções */
hr {
    width: 50%;
    height: 100%;
    border: 2px solid #112CB7;
    margin: 120px;
    text-align: center;
    pointer-events: none;
}

/* Todos os paragrafos terão a mesma configuração */
.text-p,
#versiculo-p {
    color: #312f2f;
    text-align: center;
    font-family: Poppins;
    font-size: 1.2rem;
    text-decoration: none;
    width: 80%;
}

/* Section Mensagem do Dia */
.msg-day-content {
    margin-top: 80px;
}


/* Div do campo onde irá mostrar os paragráfos da mensagem do dia */
.msg-day-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Paragrafo onde irá mostrar o livro, capitulo e versiculo */
#versiculo-p {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Section Sobre */
.sobre-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
}

.content-p {
    display: flex;
    width: 70%;
    gap: 40px;
    align-items: center;
    flex-direction: column;
}


.content-p a .text-p{
    width: 100%;
}

/* Section Eventos */

.eventos-principal {
    position: relative;
    height: 100vh;
    gap: 30px;
}

/* Slides das imagens de Eventos */

.swiper {
    width: 100%;
    height: 60%;
    z-index: 0 !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.swiper-slide .item-img {
    border-radius: 20px;
    height: 90%;
    object-fit: contain;
    transition: all 0.4s;

}

.swiper-slide .item-img:hover {
    transform: scale(1.1);
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next {
    right: 95px !important;
}

.swiper-button-prev {
    left: 95px !important;
}


.eventos-redes-sociais {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px
}

.eventos-redes-sociais a:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #040b2f34;
    border-radius: 15px;
    transition: all 0.4s;
}

.eventos-redes-sociais a:nth-child(1):hover {
    background-color: #112CB7;
}


.eventos-redes-sociais a img {
    width: 30px;
    height: 30px;
    transition: all 0.4s;
}

.eventos-content img:hover,
.eventos-redes-sociais img:hover {
    transform: scale(1.2);
}

.instagram {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.2rem;
    text-shadow: 0px 0px 4px #000;
    text-decoration: none;
    transition: all 0.4s
}

.instagram:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #061561;
}

/* Doações */

.content-doacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content-doacoes a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #040b2f34;
    border-radius: 25px;
    transition: all 0.4s;
}

.content-doacoes a img{
    height: 70px;
    transition: all 0.4s;
}

.content-doacoes a:hover {
    background-color: #112CB7;
}

.content-doacoes a img:hover{
    transform: scale(1.2);
}


/* Pedido de Oração */

.pedido-oracao-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.inputBox,
.textBox {
    width: 30%;
    display: flex;
    position: relative;
    justify-content: center;
}

.inputBox input,
.textBox textarea {
    user-select: all;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: #061561;
    border-radius: 30px;
    outline: none;
    color: #ffffff;
    font-size: 1em;
    font-family: Acme, 'Times New Roman', Times, serif, sans-serif, 'Courier New', Courier, monospace;
}


.inputBox span,
.textBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.textBox span {
    padding: 30px;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.textBox textarea:valid~span,
.textBox textarea:focus~span {
    color: #000000;
    transform: translateX(20px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #ffffff;
}

.inputBox #submit {
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    width: 70%;
}

/* Visite-nos */

.visite-content {
    height: 80vh;
}

.boxMap {
    user-select: text;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 50px 0;
}



/* Footer */
footer {
    background-color: #040b2f5d;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 80px;
    gap: 120px;
}

.rodape-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.icons-rodape,
.logo-rodape {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.icons-rodape {
    flex-direction: row;
}

.logo-rodape {
    align-items: flex-end;
    text-align: end;
    max-width: 60%;
}

footer .text-p {
    color: #fff;
}

.title-rodape {
    text-transform: uppercase;
}

/* Icones no Rodapé */
.rodape-content .icons-rodape img,
.logo-rodape img {
    color: white !important;
    width: 50px;
    height: 50px;
    transition: all 0.4s;
}

.icons-rodape img:hover,
.logo-rodape img:hover{
    transform: scale(1.2);
}

footer .txt-rodape {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .txt-rodape p {
    width: 100%;
}

#back-top {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
    margin: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.4s;
}

.seta-top {
    display: block;
    background: url(../img/arrow-top.svg) no-repeat center;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.seta-top:hover {
    transform: scale(1.4);
}

.seta-top-disable {
    opacity: 0 !important;
    display: none !important;

}